/* App.module.css */
/* App.module.css */

.appContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Aligns to top */
    min-height: 100vh;
    background-color: var(--acc);
    padding: 2rem; /* Consistent padding on all sides */
  }
  
  .componentWrapper {
    background-color: var(--accent-color);
    padding: 2rem; /* Same padding as appContainer */
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }
  
 